<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sauapps.codemylink">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CodeMyLink"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".mylinks.MyAllLinks"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity
            android:name=".NoNetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".appconfig.AppConfigActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".mylinks.EditMyLinkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".profile.ChangeUserDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".profile.ProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".login.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".generated.CodeGeneratedActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".codemylink.CodeMyLinkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".generated.LinkGeneratedActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.CodeMyLink.splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2058781353307220~6721606545" />



    </application>

</manifest>